<div class="users_show_view">
    <div class="user-container">
    <div class="icon-container">
    <div class="user-icon"></div>
    </div>
    <div class="user-details">
    <div class="user-name"><%= @users.name %></div>
    <div class="user-posts">Number Of Posts: <%= @users.posts_counter %></div>
    </div>
    </div>
    <div class="user-content">
    <div class="context">Bio <br><br> <%= @users.bio%></div>
    </div>
    <% @users.most_recent_posts.each do |post| %>
      <div class="post-content">
      <%= link_to user_posts_path(@users) do %>
        <div class="ptitle"> Post : <%= post.title%></div>
        <div class="ptext"><%= post.text%></div>
        <div class="pcount">
        Comments: <%= post.comments_counter%>
        Likes: <%= post.likes_counter%>
        </div>
        <% end %>
      </div>
    <% end %>
    <div class="all-posts"><%= link_to "See all posts", user_posts_path(user_id: @users.id), class: "posts-btn" %></div>
</div>


