<div class="posts_index_view">
<h1 class="welcome"> Welcome to the Post Page <%= @user.try(:name) %> </h1>
  <div class="search-container">
    <form>
      <input type="text" placeholder="Search posts...">
      <button type="submit">Search</button>
    </form>
  </div>
  <div class="user-container">
    <div class="user-details">
      <div class="user-avatar"><%= image_tag @user.try(:avatar) %></div>
      <div class="user-name"><%= @user.try(:name) %></div>
      <div class="user-posts">Number Of Posts: <%= @user.try(:posts_counter) %></div>
    </div>
    <div class="link-new-post">
      <%= link_to "New Post", new_user_post_path, class: "new-post-btn" %>
    </div>
  </div>
  <% @posts.each do |post| %>
    <%= link_to user_post_path(user_id: post.author_id, id: post.id) do %>
    <div class="post-content">
      <div class="ptitle"> Post : <%= post.title%></div>
      <div class="ptext"><%= post.text%></div>
      <div class="pcount">
        Comments: <%= post.comments_counter%>
        Likes: <%= post.likes_counter%>
      </div>
    </div>
    <% end %>
  <% end %>
  <div class="comments-container">
  <h2 class="ptitle"> This is the comments section <%= @user.try(:name) %> </h2>
  <% @posts.each do |post| %>
  <div class="comments">
  <div class="comments-context">
    <div class="comments-title">Comments</div>
    <div class="comments-text">
      <% post.comments.each do |comment| %>
        <div class="comment">
          <div class="comment-text"><%= comment.text %></div>
          <div class="comment-author"><%= comment.author.name %></div>
        </div>
      <% end %>
    </div>
  </div>
  </div>
  <% end %>
  </div>
  <div class="all-posts">
    <%= link_to "Pagination", user_posts_path, class: "all-posts-btn" %>
  </div>
</div>
