<div class="posts_index_view">
  <div class="search-container">
    <form>
      <input type="text" placeholder="Search posts...">
      <button type="submit">Search</button>
    </form>
  </div>
  <div class="user-container">
    <div class="user-details">
      <div class="user-name"><%= @user.try(:name) %></div>
      <div class="user-posts">Number Of Posts: <%= @user.try(:posts_counter) %></div>
    </div>
    <div class="link-new-post">
      <%= link_to "New Post", new_user_post_path, class: "new-post-btn" %>
    </div>
  </div>
  <% @posts.each do |post| %>
    <%= link_to user_post_path(user_id: post.author_id, id: post.id) do %>
    <div class="post-content">
      <div class="ptitle"> Post : <%= post.title%></div>
      <div class="ptext"><%= post.text%></div>
      <div class="pcount">
        Comments: <%= post.comments_counter%>
        Likes: <%= post.likes_counter%>
      </div>
    </div>
    <% end %>
  <% end %>
  <div class="all-posts">
    <%= link_to "All Posts", user_posts_path, class: "all-posts-btn" %>
  </div>
</div>
