 <div class="show_post_view">
 <div class="post-content">
        <div class="ptitle"> Post : <%= @post.title%> by <%= @post.author.name %></div>
        <div class="ptext"><%= @post.text%></div>
         <div class="pcountLikes">
        Comments: <%= @post.comments_counter%>
        Likes: <%= @post.likes_counter%>
    </div>
    <div class="add-comment-container">
        <%= link_to "Add A New Comment", new_user_post_comment_path(user_id: @post.author_id, post_id: @post.id), class: "new-comment-btn" %>
        <%= form_with model: @like, url: user_post_likes_path(post_id: @post.id) do |form| %>
        <%= form.submit "Add Like", class: "like-btn" %>
        <% end %>
    </div>
    </div>
     <div class="comments-container"> 
     <% @post.comments.each do |comments| %>
     <div class="comments">
     <div class="comments-context">
     <%= comments.author.name %> :  <%= comments.text %>
     </div>
     </div>
     <% end %>
 </div>