 <div class="show_post_view">
 <h1 class="welcome"> Welcome to the Post Page <%= @post.author.name %> </h1>
 <div class="post-content">
        <div class="ptitle"> Post : <%= @post.title%> by <%= @post.author.name %></div>
        <div class="ptext"><%= @post.text%></div>
         <div class="pcountLikes">
        Comments: <%= @post.comments_counter%>
        Likes: <%= @post.likes_counter%>
    </div>
    <div class="add-comment-container">
        <% if user_signed_in? %>
        <%= link_to "Add A New Comment", new_user_post_comment_path(user_id: @post.author_id, post_id: @post.id), class: "new-comment-btn" %>
        <%= form_with model: @like, url: user_post_likes_path(post_id: @post.id) do |form| %>
        <%= form.submit "Add Like", class: "like-btn" %>
        <% end %>
    <% end %>
    <% if can? :destroy, @post %>
    <%= button_to "Delete", user_path(user_id: @post.author_id, id: @post.id), method: :delete, class: "delete-btn" %>
    <% end %>
    </div>
    </div>
    <div class="comments-container"> 
    <h2 class="ptitle"> This is the comments section <%= @post.author.name %> </h2>
     <% @post.comments.each do |comments| %>
     <div class="comments">
     <div class="comments-context">
        <div class="comment-author"> <%= comments.author.name %> </div>
        <div class="comment-text"> <%= comments.text %> </div>
    </div>
     </div>
     <% if can? :destroy, comments %>
      <%= button_to "Delete Comment", user_post_comment_path(user_id: comments.author.id, post_id: comments.post.id, id: comments.id), method: :delete, class: "delete-btn" %>
      <% end %>
     </div>
     <% end %>
 </div>